---
const base = import.meta.env.BASE_URL;
---

<div class="entry-body">
  <p>
    i've recently closed on a house which gives me the oppurtunity to finally sit down and build my dream
    home lab. it should be noted that i am embrassingly new to this space and while i can get some simple
    things up and running, the vision for what i want and my actual domain knowledge are incredibly
    separated from each other right now.
  </p>
  <p>
    i'll be taking on this project in babysteps, starting with simply getting a VPS running to host
    <a href="https://github.com/cachebag/payme" target="_blank" rel="noopener noreferrer">payme</a>.
    hopefully next time i update this page, i'll have a bit more to show for it.
  </p>

  <img src={`${base}home.jpeg`} alt="home lab" class="photo" />
</div>
