---
import Layout from "../layouts/Layout.astro";
---

<Layout title="akrm al-hakimi">
  <h1>hello, there!</h1>

  <p>
   my name is akrm (or ace). i'm currently a software engineer at bosch engineering gmbh, where i work on the VDS team.
   i'm also a senior at wayne state university, where i study computer science. my graduation date is december 2026.
  </p>

  <p>
    in my free time i <a href="https://github.com/cachebag" target="_blank">build and maintain</a> open source
    software, watch and play basketball, and spend time with my family.
  </p>

  <hr />

  <h2>what's taking up my time</h2>
  <p>
    i've recently closed on a house which gives me the oppurtunity to finally sit down and build my dream home lab. it should be noted
    that i am embrassingly new to this space and while i can get some simple things up and running, the vision for what i want 
    and my actual domain knowledge are incredibly separated from each other right now.
  </p>
  <p>
    i'll be taking on this project in babysteps, starting with simply getting a VPS running to host <a href="https://github.com/cachebag/payme" target="_blank">payme</a>. 
    hopefully next time i update this page, i'll have a bit more to show for it.
  </p>

  <img src={`${import.meta.env.BASE_URL}home.jpeg`} alt="home lab" class="photo" />

</Layout>

<style>
  .photo {
    width: 100%;
    max-width: 480px;
    border: 1px solid #333;
    border-radius: 3px;
    margin-top: 0.5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
</style>
